.section.team-list-container {
    margin-top: 65px;
}

.team-list-wrapper > div{
    display: flex;
    column-gap: 30px;
}

.team-list-wrapper > div:first-child {
    display: none;
}

.section.team-list-container .teamlist-card {
    padding: 50px 30px;
    background-color: #f9f9f6;
}

.section.team-list-container .teamlist-card .teamlist-heading {
    padding-bottom: 20px;
    border-bottom: 1px solid #eedfdf;
}

.section.team-list-container .teamlist-card .teamlist-heading h3 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
    color: #000;
}

.section.team-list-container .teamlist-card .teamlist-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.section.team-list-container .teamlist-content {
    padding-top: 20px;
} 

.section.team-list-container .teamlist-content .members-heading {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 600;
}

.section.team-list-container .teamlist-content ul {
    padding-left: 20px;
}

.section.team-list-container .teamlist-content ul li {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    padding-bottom: 5px;
    list-style: disc;
}