@import '../../styles/responsive';

header {
    height: 60px;

    &.header-wrapper {
        background-color: var(--bh-primary-white);
    }

    .nav-wrapper {
        nav {
            max-width: 100%;
            height: 60px;
            padding: 0 40px;

            @include mobile {
                height: 50px;
                padding: 0 16px;
                gap: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .nav-hamburger {
            @include mobile {
                display: none;
            }
        }
    }

    .section {
        &.nav-black-header {
            background-color: var(--bh-primary-black);
            padding: 0 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            position: relative;

            @include mobile {
                padding: 0 16px 0 0;
            }

            .default-content-wrapper {
                width: 100%;
                margin: 0;
                max-width: 100%;

                @include mobile {
                    >ul>li:first-child {
                        display: none;
                    }
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {

                        &:nth-child(1) {
                            ul {
                                li {
                                    a {
                                        @include mobile {
                                            display: none;
                                        }

                                    }
                                }
                            }
                        }

                        &:nth-child(2) {

                            @include mobile {
                                >ul {
                                    gap: 0;
                                }
                            }

                            ul {
                                li {
                                    strong {
                                        background-color: #ece5d7;
                                        border-radius: 4px 4px 0 0;

                                        a {
                                            span {
                                                &.icon-images-bh-white-logo-svg {
                                                    filter: invert(1);
                                                }
                                            }
                                        }
                                    }

                                    a {
                                        &.logo-active {
                                            background-color: #ece5d7;
                                            border-radius: 4px 4px 0 0;
                                        }
                                    }

                                    span {

                                        &.icon-images-ap-white-logo-svg,
                                        &.icon-images-bh-white-logo-svg {
                                            width: 128px;
                                            height: 40px;
                                            cursor: pointer;

                                            @include mobile {
                                                padding: 0 12px;
                                            }
                                        }
                                    }
                                }

                            }
                        }

                    }

                    &:last-child {
                        gap: 12px;

                        ul {
                            li {
                                a {
                                    span {
                                        &.icon-images-location-icon-png {
                                            width: 16px;
                                            height: 16px;
                                            cursor: pointer;

                                            &:hover {
                                                filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(82%) contrast(95%);
                                            }
                                        }
                                    }
                                }

                                span {
                                    &.icon-images-profile-icon-png {
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;

                                        &:hover {
                                            filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(104%) contrast(95%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                li {
                    color: var(--bh-primary-white);
                    display: flex;
                    align-items: center;
                }

                a {
                    color: var(--bh-primary-white);
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16.39px;
                    text-align: center;
                    display: flex;
                    align-items: center;

                    @include mobile {
                        // display: none;
                    }

                    &:hover {
                        color: #f65d06;

                        .icon-images-call-icon-png {
                            filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(104%) contrast(95%);
                        }
                    }

                    span {
                        &.icon-images-call-icon-png {
                            width: 16px;
                            height: 16px;
                        }
                    }

                }
            }
        }

        &.nav-offer-header {
            background-color: var(--offer-header-bg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 40px;
            margin: 0 auto;
            gap: 17px;
            position: relative;

            @include mobile {
                padding: 8px 16px;
            }

            .default-content-wrapper {
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    color: var(--bh-footer-items);

                    a {
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 12px;
                        color: #1d1d1f;
                        border-bottom: 1px solid #1d1d1f;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &.nav-tools {
            width: 33.33%;

            .default-content-wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: end;

                p {
                    &.button-container {
                        strong a.button.primary {
                            color: var(--bh-primary-white);
                            cursor: pointer;
                            display: inline-block;
                            font-size: 14px;
                            line-height: 17px;
                            padding: 10px 16px;
                            text-align: center;
                            background-color: var(--bh-purple);
                            font-weight: 700;
                            border: 1px solid var(--bh-purple);
                            margin: 0;

                            @include mobile {
                                position: fixed;
                                z-index: 995;
                                bottom: 94px;
                                right: 66px;
                            }

                            &:hover {
                                background-color: #472b6f;
                                border-color: #472b6f;
                            }
                        }
                    }
                }
            }

        }

        &.nav-sections {
            width: 33.33%;

            @include mobile {
                display: block;
                visibility: visible;
                position: fixed;
                bottom: -1px;
                width: 100%;
                left: 0;
                box-shadow: 0 0 16px 0 #0000001F;
                background-color: var(--bh-primary-white);
                z-index: 999;
                padding: 12px 16px 16px;
            }

            .default-content-wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: end;

                ul{
                    &:first-child {
                        align-items: center;
                        @include mobile{
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                        }
    
                        li {
                            &.nav-drop>ul {
                                li {
                                    ul {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        flex-wrap: wrap;
                                        height: fit-content;
                                        gap: 4px;
    
                                        li {
                                            border-bottom: 0;
                                            padding: 0;
                                            cursor: pointer;
                                            border-radius: 10px;
                                            border: 1px solid transparent;
    
                                            &:hover {
                                                background: linear-gradient(90.85deg, #f6edff 2.92%, #ffe9ea 61.17%, #fef4e1 98.14%);
                                                border: 1px solid #CCCCCC66;
                                                border-radius: 10px;
                                            }
    
                                            a {
                                                font-size: 16px;
                                                font-weight: 500;
                                                line-height: 19px;
                                                color: #222;
                                                width: 220px;
                                                min-height: 48px;
                                                padding: 0 15px;
                                                display: flex;
                                                align-items: center;
                                                text-decoration: none;
                                            }
    
                                            span {
                                                &.icon-images-design-quiz-header-banner-png {
                                                    width: 250px;
                                                    height: 308px;
                                                }
                                            }
                                        }
                                    }
                                }
    
                                &::before {
                                    display: none;
                                }
    
                                display: none;
                                position: absolute;
                                top: 59px;
                                width: fit-content;
                                z-index: -1;
                            }
    
                            &.nav-drop:nth-child(1) {
                                &:hover>ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    background: #fff;
                                    padding: 32px 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: self-start;
                                    height: fit-content;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    cursor: default;
                                }
                            }
    
                            &.nav-drop:nth-child(2) {
                                &:hover>ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    background: #fff;
                                    padding: 32px 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: self-start;
                                    height: fit-content;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    cursor: default;
                                }
                            }
    
                            &.nav-drop:nth-child(3) {
                                &:hover>ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    background: #fff;
                                    padding: 32px 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: self-start;
                                    height: fit-content;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    cursor: default;
                                }
                            }
    
                            &.nav-drop:nth-child(4) {
                                &:hover>ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    background: #fff;
                                    padding: 32px 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: self-start;
                                    height: fit-content;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    cursor: default;
                                }
                            }
    
                            &.nav-drop:nth-child(5) {
                                &:hover>ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    display: block;
                                    background: #fff;
                                    padding: 32px 30px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: self-start;
                                    height: fit-content;
                                    border-bottom-left-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    cursor: default;
                                }
                            }
    
                            &.nav-drop {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 19px;
                                text-align: center;
                                color: var(--header-main-menu);
                                padding: 21px 0;
                                border-bottom: 3px solid transparent;

                                @include mobile{
                                    padding: 0;
                                }
    
                                &:after {
                                    display: none;
                                }
    
                                &:last-child {
                                    padding: 13px 0;
                                    
                                    @include mobile{
                                        padding: 0;
                                    }
                                }
    
                                &:hover {
                                    border-bottom: 3px solid;
                                    border-image-slice: 1;
                                    border-image-source: linear-gradient(91.16deg, #431a80 1.46%, #ee4137 51.38%, #feb940 100%);
    
                                    ul {
                                        li {
                                            p {
                                                font-size: 12px;
                                                font-weight: 800;
                                                line-height: 20px;
                                                color: #4d4d4d;
                                                margin-bottom: 20px;
                                                width: 220px;
                                                padding: 0 15px;
                                                letter-spacing: .04em;
                                                cursor: default;
                                                text-align: justify;
                                            }
                                        }
                                    }
                                }
    
                                &:last-child {
                                    span {
                                        &.icon-images-more-options-png {
    
                                            width: 32px;
                                            height: 32px;
                                            object-fit: contain;
    
    
                                        }
                                    }
                                }
                            }
    
                        }
                    }
                }
            }
        }

        &.nav-brand {
            width: 33.33%;

            .default-content-wrapper {
                span.icon-images-bh-logo-main-png {
                    width: 135px;
                    height: 40px;

                    @include mobile {
                        width: 108px;
                        height: 32px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}