header {
  height: 60px;
}
header.header-wrapper {
  background-color: var(--bh-primary-white);
}
header .header .nav-wrapper {
  position: relative;
}
header .header .nav-wrapper.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .header .nav-wrapper nav {
  max-width: 100%;
  height: 60px;
  padding: 0 40px;
}
@media (max-width: 767px) {
  header .header .nav-wrapper nav {
    height: 50px;
    padding: 0 16px;
    gap: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  header .header .nav-wrapper .nav-hamburger {
    display: none;
  }
}
header .section.nav-black-header {
  background-color: var(--bh-primary-black);
  padding: 0 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: relative;
}
@media (max-width: 767px) {
  header .section.nav-black-header {
    padding: 0 16px 0 0;
  }
}
header .section.nav-black-header .default-content-wrapper {
  width: 100%;
  margin: 0;
  max-width: 100%;
}
@media (max-width: 767px) {
  header .section.nav-black-header .default-content-wrapper > ul > li:first-child {
    display: none;
  }
}
header .section.nav-black-header .default-content-wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .section.nav-black-header .default-content-wrapper ul li:nth-child(1) ul li a {
    display: none;
  }
}
@media (max-width: 767px) {
  header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) > ul {
    gap: 0;
  }
}
header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li strong {
  background-color: #ece5d7;
  border-radius: 4px 4px 0 0;
}
header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li strong a span.icon-images-bh-white-logo-svg {
  filter: invert(1);
}
header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li a.logo-active {
  background-color: #ece5d7;
  border-radius: 4px 4px 0 0;
}
header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li span.icon-images-ap-white-logo-svg, header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li span.icon-images-bh-white-logo-svg {
  width: 128px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li span.icon-images-ap-white-logo-svg, header .section.nav-black-header .default-content-wrapper ul li:nth-child(2) ul li span.icon-images-bh-white-logo-svg {
    padding: 0 12px;
  }
}
header .section.nav-black-header .default-content-wrapper ul:last-child {
  gap: 12px;
}
header .section.nav-black-header .default-content-wrapper ul:last-child ul li a span.icon-images-location-icon-png {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
header .section.nav-black-header .default-content-wrapper ul:last-child ul li a span.icon-images-location-icon-png:hover {
  filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(82%) contrast(95%);
}
header .section.nav-black-header .default-content-wrapper ul:last-child ul li span.icon-images-profile-icon-png {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
header .section.nav-black-header .default-content-wrapper ul:last-child ul li span.icon-images-profile-icon-png:hover {
  filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(104%) contrast(95%);
}
header .section.nav-black-header .default-content-wrapper li {
  color: var(--bh-primary-white);
  display: flex;
  align-items: center;
}
header .section.nav-black-header .default-content-wrapper a {
  color: var(--bh-primary-white);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  text-align: center;
  display: flex;
  align-items: center;
}
header .section.nav-black-header .default-content-wrapper a:hover {
  color: #f65d06;
}
header .section.nav-black-header .default-content-wrapper a:hover .icon-images-call-icon-png {
  filter: invert(39%) sepia(68%) saturate(3454%) hue-rotate(332deg) brightness(104%) contrast(95%);
}
header .section.nav-black-header .default-content-wrapper a span.icon-images-call-icon-png {
  width: 16px;
  height: 16px;
}
header .section.nav-offer-header {
  background-color: var(--offer-header-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  margin: 0 auto;
  gap: 17px;
  position: relative;
}
@media (max-width: 767px) {
  header .section.nav-offer-header {
    padding: 8px 16px;
  }
}
header .section.nav-offer-header .default-content-wrapper p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--bh-footer-items);
}
header .section.nav-offer-header .default-content-wrapper p a {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #1d1d1f;
  border-bottom: 1px solid #1d1d1f;
}
header .section.nav-offer-header .default-content-wrapper p a:hover {
  text-decoration: none;
}
header .section.nav-tools {
  width: 33.33%;
}
header .section.nav-tools .default-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}
header .section.nav-tools .default-content-wrapper p.button-container {
  margin-left: 12px;
}
@media (max-width: 767px) {
  header .section.nav-tools .default-content-wrapper p.button-container {
    margin-left: 0;
  }
}
header .section.nav-tools .default-content-wrapper p.button-container strong a.button.primary {
  color: var(--bh-primary-white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 16px;
  text-align: center;
  background-color: var(--bh-purple);
  font-weight: 700;
  border: 1px solid var(--bh-purple);
  margin: 0;
}
@media (max-width: 767px) {
  header .section.nav-tools .default-content-wrapper p.button-container strong a.button.primary {
    position: fixed;
    z-index: 995;
    bottom: 94px;
    right: 66px;
  }
}
header .section.nav-tools .default-content-wrapper p.button-container strong a.button.primary:hover {
  background-color: #472b6f;
  border-color: #472b6f;
}
header .section.nav-sections {
  width: 33.33%;
}
@media (max-width: 767px) {
  header .section.nav-sections {
    display: block;
    visibility: visible;
    position: fixed;
    bottom: -1px;
    width: 100%;
    left: 0;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1215686275);
    background-color: var(--bh-primary-white);
    z-index: 999;
    padding: 12px 16px 16px;
  }
}
header .section.nav-sections .default-content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}
header .section.nav-sections .default-content-wrapper ul:first-child {
  align-items: center;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul {
  display: none;
  position: absolute;
  top: 59px;
  width: -moz-fit-content;
  width: fit-content;
  z-index: -1;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li {
    width: 100%;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  gap: 4px;
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li {
  border-bottom: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid transparent;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li:hover {
  background: linear-gradient(90.85deg, #f6edff 2.92%, #ffe9ea 61.17%, #fef4e1 98.14%);
  border: 1px solid rgba(204, 204, 204, 0.4);
  border-radius: 10px;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li:hover {
    background: none;
    border: 0;
    border-radius: unset;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #222;
  width: 220px;
  min-height: 48px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li a {
    width: 100%;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li span:not(.icon-images-design-quiz-header-banner-png) {
  display: none;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li span:not(.icon-images-design-quiz-header-banner-png) {
    display: flex;
    flex-shrink: 0;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li span.icon-images-design-quiz-header-banner-png {
  width: 250px;
  height: 308px;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul li ul li span.icon-images-design-quiz-header-banner-png {
    display: none;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop > ul::before {
  display: none;
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(1):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(2):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(3):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(4):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(5):hover > ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: #fff;
  padding: 32px 30px;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: default;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(1):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(2):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(3):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(4):hover > ul, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(5):hover > ul {
    position: fixed;
    width: 100%;
    right: 0;
    top: auto;
    padding: 0 16px;
    bottom: 61px;
    display: flex;
    flex-direction: column;
    max-height: 440px;
    overflow-y: scroll;
    border-radius: 20px 20px 0 0;
  }
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(1):hover > ul:before, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(2):hover > ul:before, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(3):hover > ul:before, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(4):hover > ul:before, header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:nth-child(5):hover > ul:before {
    content: "-";
    width: 56px;
    height: 4px;
    background: #222;
    opacity: 0.2;
    border-radius: 20px;
    display: block;
    margin: 6px auto 24px auto;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: var(--header-main-menu);
  padding: 21px 0;
  border-bottom: 3px solid transparent;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop {
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0;
    color: gray;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:after {
  display: none;
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:last-child {
  padding: 13px 0;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:last-child {
    padding: 0;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:hover {
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(91.16deg, #431a80 1.46%, #ee4137 51.38%, #feb940 100%);
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:hover {
    border-bottom: 0;
    border-image-slice: unset;
    border-image-source: none;
    color: #222;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:hover ul li p {
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  color: #4d4d4d;
  margin-bottom: 20px;
  width: 220px;
  padding: 0 15px;
  letter-spacing: 0.04em;
  cursor: default;
  text-align: justify;
}
@media (max-width: 767px) {
  header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:hover ul li p {
    padding: 0;
    width: 100%;
    margin-bottom: 16px;
  }
}
header .section.nav-sections .default-content-wrapper ul:first-child li.nav-drop:last-child span.icon-images-more-options-png {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .section.nav-brand {
  width: 33.33%;
}
header .section.nav-brand .default-content-wrapper span.icon-images-bh-logo-main-png {
  width: 135px;
  height: 40px;
}
@media (max-width: 767px) {
  header .section.nav-brand .default-content-wrapper span.icon-images-bh-logo-main-png {
    width: 108px;
    height: 32px;
  }
}
header .section.nav-brand .default-content-wrapper span.icon-images-bh-logo-main-png img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}