.section.article-carousel {
    width: 100%;
    max-width: 100%;
    background-color: #f9f9f6;
    margin-top: 80px;
    padding: 46px 0;
    // position: relative;

    .default-content-wrapper {

        max-width: 1440px;
        padding: 0 20px;
        margin: 0 auto;
        margin-bottom: 30px;

        h2 {
            color: #000;
            font-family: BioRhyme, sans-serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: .02em;
            font-size: 48px;
            line-height: 60px;
            margin-bottom: 0;
        }
    }

    .carousel-wrapper {
        max-width: 1440px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;

        .carousel {
            position: unset;
            .swiper-wrapper {

                .swiper-slide {
                    padding: 0 10px;

                    div {

                        h4 {

                            strong {

                                a {
                                    position: absolute;
                                    padding: 10px 14px 0 0;
                                    right: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    text-align: end;
                                    font-weight: 600;
                                    color: unset;
                                    z-index: 1;

                                    span {
                                        width: 34px;
                                        height: 34px;
                                        border-radius: 50%;
                                        background-color: #f1efe8;
                                        position: relative;

                                        img {
                                            width: 16px;
                                            height: 16px;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                    }
                                }
                            }

                        }

                        ul {

                            position: relative;
                            height: 230px;

                            >li {

                                &:last-child {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 1;
                                    background-color: #26282b;
                                    bottom: 0;
                                    color: #fff;
                                    font-size: 14px;
                                    font-weight: 700;
                                    left: 0;
                                    letter-spacing: .01em;
                                    line-height: 17px;
                                    padding: 8px 9pt;
                                }

                                >span {
                                    height: 230px;
                                    width: 100%;
                                }
                            }
                        }

                        >h2 {
                            font-size: 24px;
                            line-height: 29px;
                            color: #26282b;
                            font-weight: 700;
                            margin-bottom: 8px;
                            overflow: hidden;
                            padding: 24px 24px 0;
                        }

                        >p {
                            font-size: 18px;
                            line-height: 28px;
                            color: #454c53;
                            -webkit-line-clamp: 3;
                            line-clamp: 3;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            margin-bottom: 9pt;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: 0 24px 0;
                        }

                        h3 {
                            font-size: 16px;
                            font-weight: 700;
                            color: #26282b;
                            font-weight: 700;
                            margin-bottom: 8px;
                            overflow: hidden;
                            padding: 0 24px 12px;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {

                &::after {
                    display: none;
                }
                top: 0;
                right: 0;
                position: absolute;
                width: 64px;
                height: 64px;
                p{
                    picture{
                        img{
                            display: block;
                            height: 64px;
                            width: 64px;
                        }
                    }
                }
            }
            .swiper-button-next{
                top: -62px;
                right: 21px;
            }
            .swiper-button-prev{
                top: -62px;
                right: 100px;
                left: unset;
            }
            .swiper-pagination {
                display: none;
            }
        }
    }

    @media (max-width: 961px) {

        .section.article-carousel {
            padding: 46px 0;

            .default-content-wrapper {

                margin-bottom: 24px;

                h2 {
                    font-size: 24px;
                }
            }

            >.carousel-wrapper {

                .carousel {

                    .swiper-wrapper {

                        .swiper-slide {
                            margin: 0 10px 0 0;

                            div {

                                ul {
                                    height: 257px;

                                    li {


                                        span {
                                            height: 257px;
                                            width: 100%;
                                        }

                                    }
                                }

                                h2 {
                                    -webkit-line-clamp: 2;
                                    line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    color: #26282b;
                                    display: -webkit-box;
                                    font-size: 18px;
                                    line-height: 22px;
                                    text-overflow: ellipsis;
                                }

                                p {
                                    line-clamp: 2;
                                    font-size: 1pc;
                                    line-height: 24px;
                                    margin-bottom: 9pt;
                                    -webkit-line-clamp: 2;
                                }
                            }
                        }
                    }

                    .swiper-button-next,
                    .swiper-button-prev {
                        display: none;

                        &::after {
                            display: none;
                        }

                    }
                }
            }
        }
    }
}