.section.design-takeaways {
    .default-content-wrapper {
        margin-top: 64px;

        h1 {
            color: #26282b;
            font-family: BioRhyme;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 2px;
            line-height: 44px;
        }

        p {
            margin-top: 32px;
            padding-bottom: 28px;

            strong {
                display: inline-block;
                background: #26282b;
                padding: 8px 12px;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: .01em;
                margin: 0 8px 12px 0;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            font-size: 18px;
            line-height: 28px;
            border-top: 1px solid #e8ebed;
            color: #26282b;

            li {
                list-style: none;

                a {
                    font-weight: 700;
                    color: black;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {

    .section.design-takeaways {
        .default-content-wrapper {
            margin-top: 20px;

            ul {
                flex-direction: column;
                font-size: 16px;
                gap: 20px;
                align-items: start;
            }
        }
    }
}

// section interior-design-img start
.section.interior-design-img {

    .default-content-wrapper {
        margin-top: 55px;

        ul {

            >li {

                >span {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        display: blocka;
                    }
                }

                &:nth-child(n+2) {
                    position: absolute;
                    z-index: 1;
                }

            }


        }
    }

}

// section interior-design-img Ends