.section.video-component-wrapper{
    .embed-wrapper{
        .embed{
            max-width: 100%;
            min-height: 390px;
            iframe{
                min-height: 390px;
            }
        }
    }
}